*{
  font-family: 'Source Sans Pro', sans-serif;;
}
body{
  background-color: #EDEDED;
}
.container-narrow{
  margin: 0 auto;
  padding: 30px;
  max-width: 1000px;
}
.fadeIn{
  opacity: 0.01;
}
a{
  text-decoration: none;
  cursor: pointer;-webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
  color: blue;
}
a:focus{
  text-decoration: none;
}
#titleHr{
  height: 1px;
  width: 1px;
  background-color: black;
  position: relative;
  top: 65px;
}
.col-sm-12{
  color: black;
  margin-top: 15px;
  text-align: center;
  padding: 20px 0;
}
.title{
  font-size: 50px;
  width: 100%;
  text-align: center;
  display: none;
  position: absolute;
  z-index: 1;
  color: black;
  height: 0px;
}
#menuItems{
  position: absolute;
  top: 370px;
  width: 100%;
  z-index: 1;
  background-color: #34495e;
  height: 60px;
}
.homePageMenuButtons{
  text-align: center;
  color: black;
  cursor: pointer;
  padding-top: 15px;
  color: white;
  font-size: 18px;
}
.homePageMenuButtons:hover{
  color: dodgerblue;
}
#execBtn{
  display: none;
}
#pastEventsBtn{
  display: none;
}
#contactUsBtn{
  display: none;
}
.menuBtnLine{
  position: relative;
  top: -17px;
  width: 1px;
  border: none;
  background-color: #0084B0;
  height: 0px;
}
#titleNum{
  font-size: 50px;
}
.footerDiv{
  background-color: black;
  min-height: 150px;
}
#aboutSec{
  text-align: center;
  height: 400px;
  background-color: #fffbdd;
  position: relative;
  color: #161616;
  font-size: 18px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-image: url("https://images.pexels.com/photos/299830/pexels-photo-299830.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
#aboutBackgroundImg{

}
.missionStatements{
  position: relative;
  color: white;
  height: 200px;
  padding-top: 30px;
  text-align: center;
  margin: 0px;
  background-color: #c0392b;
}
.down{
  position: relative;
  top: 17px;
  left: 8px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 10px solid #0091C2;
}
.up{
  position: relative;
  top: -17px;
  left: 8px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 10px solid #0091C2;
  display: none;
}
#footerRow{
  position: relative;
  top: 50px;
}
.infoCard{
  background-color: #27ae60;
  border-radius: 10px;
  padding: 1px;
  text-align: center;
  padding-top: 8px;
  position: relative;
}
#eventInfoCard{
  position: relative;
  width: 300px;
  margin: 0px auto;
  top: -50px;
  font-size: 18px;
  background-color: #27ae60;
  border: 1px solid white;
}
#eventInfoCardp:hover{

}
::-webkit-input-placeholder { /* Safari, Chrome and Opera */
  color: #EBEBEB;
}

:-moz-placeholder { /* Firefox 18- */
  color: #EBEBEB;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #EBEBEB;
}

.img-container {
  position:relative;
  padding-top: 280px;
}
.aPhoto{
  width:100%;
}






.containerBox {
  position: relative;
  display: inline-block;
}
.containerBox:hover .eventPhoto{
  filter:brightness(50%);
}
.containerBox:hover .textBoxp{
  opacity: 1;
}
.textBox {
  position: absolute;
  height: 100%;
  text-align: center;
  width: 100%;
  z-index: 2;
}
.textBox:before {
  content: '';
  display: inline-block;
  height: 10%;
  vertical-align: middle;
}
.textBoxp {
  opacity: 0;
  display: inline-block;
  font-size: 15px; /*or whatever you want*/
  color: #FFF;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
  padding-left: 15px;
  padding-right: 15px;
}

.textBoxp:hover {
  text-decoration: none;
  color: white;
}
.textBoxp:visited {
  text-decoration: none;
  color: white;
}

.eventPhoto{
  filter:brightness(100%);
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
  display: block;
  max-width: 100%;
  height: auto;
}




.execPhoto{
  width:100%;
}
.parallax {
  min-height: 400px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#missionImg{
  position: relative;
  height: 300px;
  /*background:hsla(180,0%,50%,0.25);*/
  background-image: url("http://res.cloudinary.com/dj2eq8czc/image/upload/e_brightness:-40/v1491828512/mw6ycb_tz1fgh.jpg");
}
/*footer*/
#joinUsLink{
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-family: Century Gothic, sans-serif;
  padding: 2px;
  position: relative;
  top: -10px;
}
#joinUsLink:hover{
  color: dodgerblue;
}
#emailUsLink{
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-family: Century Gothic, sans-serif;
  padding: 2px;
  position: relative;
  top: -10px;
}
#emailUsLink:hover{
  color: dodgerblue;
}
.socialMediaLink{
  color: white;
  font-size: 15px;
  text-decoration-color: white;
  position: relative;
  margin-top: 10px;
}
.socialMediaLink:hover{
  color: dodgerblue;
}
#twitterIcon{
  text-decoration: none;
  font-size: 18px;
  color: white;
  font-family: Century Gothic, sans-serif;
  padding: 2px;
  position: relative;
  top: -10px;
}
#twitterIcon:hover{
  color: dodgerblue;
}
#facebookIcon{
  position: relative;
  left: -14px;
  top: -10px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  font-family: Century Gothic, sans-serif;
  padding: 2px;
}
#facebookIcon:hover{
  color: dodgerblue;
}
/*exec team*/
.profileName{
  position: relative;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 18px;
  text-align: center;
}
.profileDesc{
  position: relative;
  min-height: 400px;
}
.eventTitle{
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  font-size: 28px;
  margin-top: 0px;
  color: grey;
}
.eventP{
  position: relative;
  margin: 20px;
  font-size: 18px;
  color: white;
  margin-bottom: 0px;
  padding-bottom: 20px;
}
.eventCard{
  margin: 0px;
}
/*navbar*/
.navbar {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}
.navbar li { color: #000; }
ul.nav a {color: grey !important;}
.navbar-header{ color: grey !important; }
ul.nav a:hover { color: black !important; }
.navbar-header a:hover { color: black !important; }


.navbar-toggle{
  border: none;
  height: 40px;
}

.navbar-collapse{border: none;}

#navbarColTitle:hover{
  background-color: transparent;
}
#navbarColMenu{
  background-color: transparent;
}
#navbarColMenu:hover{
  background-color: transparent;
}

.execPhoto{
  cursor: pointer;
}
